@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.logo-navigation {
    border-bottom: 2px solid #000000;
}
.b-logo {
    max-width: 100px;
    min-width: 50px;
}
.b-banner {
    width: 150px;
    height: 150px;
}
.pi {
    padding-bottom: 190px;
}
.bg-carousel {
    background-color: #ff8d00;
}
.border-carousel {
    color: #ff8d00;
}
.b-auto {
    margin: 0 auto;
}